@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    height: 530px;
    width: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
}
.img-container{
    display: flex;
    transition: transform 500ms ease-in-out;
    transform: translateX(0);
}
.buttons-container{
    display: flex;
    justify-content: space-between;
}
button{
    border: none;
    background: rebeccapurple;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    width: 49%;
}
button:hover{
    opacity: 0.90;
}
img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}